  <head>
    <meta charset="utf-8">
    <title>l33t H@x0r Resume</title>
    <meta name="description" content="Ryan Steenkamp, DevOps Engineer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">



  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="assets/styles.css" />
  </head>
  <body class="bg-faded">
    <header id="first" class="background-img">
    <div class="header-content">
        <div class="inner">
            <h1 class="pro-title">Ryan Steenkamp</h1>
            <h1 class="pro-title">DevOps Engineer</h1>
            <a href="#one" class="btn2 btn-title-outline btn-xl page-scroll wow fadeInUp m-t-3">Start Here</a>
        </div>
    </div>
</header>
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        </button>
        <a class="navbar-brand page-scroll" href="#first">Home</a>
        <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#one">Personal Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#two">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#three">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#four">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#five">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                  <a href="/assets/CV-RyanSteenkamp.pdf" target="ext" class="btn" >Download Resume</a> 
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="one">
       <div class="container">
            <h2 class="margin-top-0 wow fadein text-xs-center text-primary1"> Personal Summary</h2>
            <hr class="primary">
        <p class="wow fadeInUp pro-p">If one is genuinely drawn to a subject matter and has a great love for it, one really puts in great amounts of effort and it becomes apart of your daily life. The love to self educate adds more value than only educating yourself with the intent of material gain.

The acquisition of knowledge is just as important as sharing knowledge, thus why I appreciate the internet so much and support internet freedom.

I like to think of myself as an open-source and Linux enthusiast. My aim is to use vim and the terminal as much as possible to create more efficiency. 

I like to consider myself a humanitarian. I try involve myself with upliftment projects and with people who are less privileged. 

The things I do for fun would be all of the above, but I also love to read, dance and meditate.</p>
		<br>
        </div>
   <div class="container">
     <div class="row">
            <div class="col-xs-10 offset-xs-1">
                    <div class="col-xl-6 col-lg-3 col-md-4 col-sm-6 text-xs-center">
                        <div class="card">
                            <img src="assets/ryan1.jpg" class="card-img img-fluid">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-xs-center">
                                    <a class="text-light" href="#galleryModal" data-toggle="modal" data-src="assets/ryan1.jpg">view</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 text-xs-center">
                        <div class="card">
                            <img src="assets/ryandance1.jpg" class="img-fluid">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-xs-center">
                                    <a class="text-light" href="#galleryModal" data-toggle="modal" data-src="assets/ryandance1.jpg">view</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 text-xs-center">
                        <div class="card">
                            <img src="assets/ryanfood6.jpg" class="img-fluid">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-xs-center">
                                    <a class="text-light" href="#galleryModal" data-toggle="modal" data-src="assets/ryanfood6.jpg">view</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 text-xs-center">
                        <div class="card">
                            <img src="assets/ryandance3.jpg" class="img-fluid">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-xs-center">
                                    <a class="text-light" href="#galleryModal" data-toggle="modal" data-src="assets/ryandance3.jpg">view</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-0 col-lg-3 offset-lg-0 col-md-4 offset-md-4 col-sm-6 text-xs-center">
                        <div class="card m-x-auto">
                            <img src="assets/ryanfood8.jpg" class="img-fluid">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-xs-center">
                                    <a class="text-light" href="#galleryModal" data-toggle="modal" data-src="assets/ryanfood8.jpg">view</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-0 col-lg-3 offset-lg-0 col-md-4 offset-md-4 col-sm-6 text-xs-center">
                        <div class="card m-x-auto">
                            <img src="assets/ryan2.jpg" class="img-fluid">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-xs-center">
                                    <a class="text-light" href="#galleryModal" data-toggle="modal" data-src="assets/ryan2.jpg">view</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-0 col-lg-3 offset-lg-0 col-md-4 offset-md-4 col-sm-6 text-xs-center">
                        <div class="card m-x-auto">
                            <img src="assets/ryandance4.jpg" class="img-fluid">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-xs-center">
                                    <a class="text-light" href="#galleryModal" data-toggle="modal" data-src="assets/ryandance4.jpg">view</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 offset-xl-0 col-lg-3 offset-lg-0 col-md-4 offset-md-4 col-sm-6 text-xs-center">
                        <div class="card m-x-auto">
                            <img src="assets/ryandance2.jpg" class="img-fluid">
                            <div class="card-img-overlay">
                                <h4 class="card-title text-xs-center">
                                    <a class="text-light" href="#galleryModal" data-toggle="modal" data-src="assets/ryandance2.jpg">view</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
</section>
<section id="two" class="bg-alt">
    <div class="container text-xs-center">
        <h2 class="text-primary1 text-xs-center">Skills</h2>
        <hr class="primary">
        <br>
        <div class="row wow fadeInUp">
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                <h3>Infrastructure</h3>
                <i class="icon-lg ion-ios-gear-outline wow pulse"></i>
                <h1 class="text-primary1">75%</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                <h3>Linux</h3>
                <i class="icon-lg ion-social-tux wow pulse"></i>
                <h1 class="text-primary1">90%</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                <h3>Graphs & Alerts</h3>
                <i class="icon-lg ion-ios-pulse wow pulse"></i>
                <h1 class="text-primary1">70%</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                <h3>Automation</h3>
                <i class="icon-lg icon ion-ios-shuffle-strong wow pulse"></i>
                <h1 class="text-primary1">50%</h1>
            </div>
        </div>
        <hr>
        <br>
    </div>
  <div class="container">
    <div class="text-xs-center" id="example-caption-1">AWS - 70%</div>
    <progress class="progress progress1" value="70" max="100" aria-describedby="example-caption-1"></progress>

    <div class="text-xs-center" id="example-caption-2">Linux - 90%</div>
    <progress class="progress progress1" value="90" max="100" aria-describedby="example-caption-2"></progress>

    <div class="text-xs-center" id="example-caption-3">Docker - 70%</div>
    <progress class="progress progress1" value="70" max="100" aria-describedby="example-caption-3"></progress>

    <div class="text-xs-center" id="example-caption-4">MySQL - 50%</div>
    <progress class="progress progress1" value="50" max="100" aria-describedby="example-caption-4"></progress>

    <div class="text-xs-center" id="example-caption-5">Ansible -  65%</div>
    <progress class="progress progress1" value="65" max="100" aria-describedby="example-caption-5"></progress>

    <div class="text-xs-center" id="example-caption-6">Terraform - 45%</div>
    <progress class="progress progress1" value="45" max="100" aria-describedby="example-caption-6"></progress>

    <div class="text-xs-center" id="example-caption-7">Sensu - 75%</div>
    <progress class="progress progress1" value="75" max="100" aria-describedby="example-caption-7"></progress>

    <div class="text-xs-center" id="example-caption-8">ELK Stack - 65%</div>
    <progress class="progress progress1" value="65" max="100" aria-describedby="example-caption-8"></progress>

    <div class="text-xs-center" id="example-caption-9">New Relic - 75%</div>
    <progress class="progress progress1" value="75" max="100" aria-describedby="example-caption-9"></progress>

    <div class="text-xs-center" id="example-caption-10">Bash - 70%</div>
    <progress class="progress progress1" value="70" max="100" aria-describedby="example-caption-10"></progress>

    <div class="text-xs-center" id="example-caption-11">Ruby - 35%</div>
    <progress class="progress progress1" value="35" max="100" aria-describedby="example-caption-11"></progress>

    <div class="text-xs-center" id="example-caption-12">Dashing - 40%</div>
    <progress class="progress progress1" value="40" max="100" aria-describedby="example-caption-12"></progress>
    </div>
    <hr />
</section>
<section id="three">
       <div class="container ow fadeinup">
            <h2 class="margin-top-0 wow fadein text-xs-center text-primary1">Resume</h2>
            <hr class="primary">
        </div>
          <div class="container">
            <div class="card card-block">
              <p class="card-title"><strong>Company: Maxitec - Internet Service Provider</strong></p>
              <p class="card-title2"><strong>Position: Internet Support Engineeri</strong></p>
              <p class="card-title2"><strong>Period: 2 January 2012 – 31 January 2014</strong></p>
              <p class="card-text2">Duties: Responding to all calls, e-mails, walk in clients and service call outs for diagnosing and resolving hardware, software and end users problems within agreed time scales. providing efficient customer support for all issues relating to desktops, laptops, apple macs, mobile devices, peripherals, routers, wifi, telecommunication, hosting, e-mails, voip and networking technologies. taking ownership of a call/instruction and seeing it through to closure. escalating calls and issues where necessary to seniors. updating support documentation. it support for 'maxiclub' point of sale system and helped out with vodacom accounts and device support.</p>
            </div>
            <div class="card card-block">
              <p class="card-title"><strong>Company: Ockhams Razor</strong></p>
							<p class="card-title2"><strong>Position: Jnr Linux Systems Administrator</strong></p>
							<p class="card-title2"><strong>Training</strong></p>
              <p class="card-title2"><strong>Period: 1 February 2014 – 31 April 2014</strong></p>
              <p class="card-text2">I received hands on experience with Debian Servers, RAID, BASH, AWK, SED and REGEX Scripting and also in-depth knowledge on the fundamentals of Linux LPI1. My training also consisted of: apt-get package management, setting up web servers with Apache, setting up e-mail servers with Postfix, installing web sites/panels, installing and configuring ISP config, bash scripting, mail flow trouble shooting, setting up DNS and configuring network interface cards.</p>
            </div>
            <div class="card card-block">
              <p class="card-title"><strong>Company: National Association of Child Care Workers</strong></p>
							<p class="card-title2"><strong>Position: IT Support Technician</strong></p> 
							<p class="card-title2"><strong>Temporary Position</strong></p>
              <p class="card-title2"><strong>Period: 19 May 2014 – 30 May 2014</strong></p>
              <p class="card-text2">Duties: Responding to all calls, e-mails for diagnosing and resolving hardware, software and end users problems within agreed time scales. Managing windows server and active directory. Providing efficient in-house support for all issues relating to desktops, laptops, macs, mobile devices, peripherals, routers, WIFI, telecommunication, e-mails and networking technologies. Implementation of software to improve the companies performance such as a ticketing system and asset management software.</p>
            </div>
            <div class="card card-block">
              <p class="card-title"><strong>Company: 8Frag</strong></p>
              <p class="card-title2"><strong>Position: Linux Systems Administrator</strong></p>
              <p class="card-title2"><strong>Period: 7 July 2014 – 1 April 2016</strong></p>
              <p class="card-text2">Duties and Skills: Installation of SRCDS game servers(CS:GO and TF2), GOTV proxy servers, Depth knowledge of SRCDS based games, creating/modifying game server configurations, Basic SourcePawn Scripting, Installation and configuration of plug-ins for the games severs. Managing and maintaining all Ubuntu servers and software's used. Migrating and deploying of servers. Installation and configuration of UnrealIRC, TeamSpeak. AWS Skills: S3, RDS, EC2, Policies and SES. Implementation of game server web-panel TCAdmin, installing and configuring monitoring solution Pulseway which I later replaced with LibreNMS. Game Server Rental ticket, TeamSpeak support and handling escalated issues. Game Tournament support and administration. Writing tutorials on how to do manage and use services. Installation of SSL, Bash scripting, Ansible playbooks, Installation and configuring of FTP, Apache and backup solutions. MySQL, UFW use and management, basic DDOS mitigation and process management. Duplicating and managing all of our systems on Windows 2012 server for a short time period. Full involvement and assistance with software development. Involvement with website design as well as any other ideas, projects and decisions that effect the company. Testing and finding bugs for games and applications. Managing in house developed software created in Ruby, NodeJS and Python. I Took over the Lead IT roll after our Senior Developer left . Making calls on software and hardware requirements, solutions and improvements. Managing and training our junior Linux systems administrator. </p>
            </div>
            <div class="card card-block">
              <p class="card-title"><strong>Company: OLX</strong></p>
              <p class="card-title2"><strong>Position: DevOps Engineer</strong></p>
              <p class="card-title2"><strong>Period: 04 April 2016 - Ongoing</strong></p>
              <p class="card-text2">Duties and skills:  
              Graphing – Graphana, New Relic, Dashing and Kibana
              Alerting -  Sensu, New Relic, Sysdig
              Logging - Papertrail, Elastic search and Logstash
              Contentious Delivery - Jenkins and Argo
              Automation- Terrafrom, Ansible and Bash
              Troubleshooting – Redis, Memcache, MySQL, Big IP F5 Load balancer 
              AWS – EC2, ELB, VPC, Route53, RDS, IAM, S3
              Other - Git, Ruby, Docker, writing documentation, security, site’s stability and adding features for developers. We managed 6 OLX websites in Africa: olx.co.za, olx.com.ng , olx.co.ke, olx.com.gh, olx.co.ug, olx.co.tz. Our biggest website olx.co.za by its self severs millions of page views. When I first joined we ran a LAMP stack on bare metal servers running Ubuntu. Our Stack included Redis, Memcache and Solr. We used Akamai CDN, Cisco firewalls, and F5 Big IP Load balancers. For graphing and logs: Graphite, Graphana and ELK stack. Alerting: Sensu. Jenkins was used for Continuous Delivery system. We rebuilt and migrated our infrastructure to run in containers on AWS in September. All our infrastructure was written in code with Terrafrom and Ansible of which I only contributed a small amount of Ansible changes after the migrations had taken place. We used Kubernetes to manage and orchestrate our containers. We switched to the following AWS services: AWS ELB, RDS, Elasticache(Memcache and Redis). Our continuous delivery system expanded to include in house software called “Argo”. Argo is responsible for setting up our project needs and communicates with Kubernetes to be easily deployed through Jenkins. Our graphing, alerting and logging applications used where: Sysdig, New Relic, Papertrail. </p>
            </div>
            <hr>
       </div>
</section>
<section id="four" class="bg-alt">
		 <div class="container ow fadeinup">
					<h2 class="margin-top-0 wow fadein text-xs-center text-primary1">Education</h2>
					<hr class="primary">
		 </div>
		<div class=container">
		<div class="list-group list-group-item">
			<div class="list-group-item">
				<p class="list-group-item-heading card-title"><strong>High School: Worcester Gymnasium</strong></p>
				<li class="text-list">Grade passed: Grade 12</li>
				<li class="text-list pro-li">Subjects of importance: English 1st language, Mathematics high grade, Information technology (Java Programming), Engineering & graphics design and Visual Arts.</li>
			</div>
			<div class="list-group-item ">
                <p></p>
				<a class="list-group-item-heading card-title" href="/assets/RHCSA-RyanSteenkamp.pdf" target="ext"><strong>Red Hat Certified System Administrator</strong></a>
                <p></p>
				<li class="text-list pro-li">Learning Institute: TorqueIT</li>
				<li class="text-list pro-li"> Attendance: 2015-09-02</li>
				<li class="text-list pro-li"> RHCSA Fast Track course with RHCSA Exam(EX-200)</li>
				<li class="text-list pro-li" >Passing mark: 283/300 (94%)</li>
			</div>
			<div class="list-group-item ">
				<p class="list-group-item-heading card-title"><strong>Training</strong></p>
				<li class="text-list pro-li">Architecting on AWS – onsite training from AWS (November 2016)</strong></li>
			</div>
			<div class="list-group-item ">
				<p class="list-group-item-heading card-title"><strong>Udemy Courses</strong></p>
					<li class="text-list pro-li">Sensu – Beginner - May 2016 - Length: 3.5 Hours</li>
					<li class="text-list pro-li">Sensu – Intermediate – May 2016 - Length: 3.5 Hours</li>
					<li class="text-list pro-li">AWS Certified SysOps Administrator - July 2016 - Length: 7.5 Hours</li>
					<li class="text-list pro-li">The complete Docker Course for DevOps and Developers - September 2016 - Length: 6 Hours</li>
			</div>
		</div>
		</div>
</section>
<section id="five">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-xs-center">
                <h2 class="margin-top-0 wow fadeIn text-primary1">Get in Touch</h2>
                <hr class="primary">
                <p>I'd love to hear from you. Drop me an email.</p>
            </div>
            <div class="col-lg-10 offset-lg-1 text-xs-center">
								<p>ryan ( at ) tutanota.com</p>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <h6 class="text-uppercase">Support</h6>
                <ul class="list-unstyled">
                    <li><a href="https://www.eff.org/" target="ext">Electronic Frontier Foundation</a></li>
                    <li><a href="https://twitter.com/Snowden" target="ext">Snowden</a></li>
                    <li><a href="https://www.torproject.org/" target="ext">Tor Project</a></li>
                    <li><a href="https://duckduckgo.com/" target="ext">DuckDuckGo</a></li>
                    <li><a href="https://whispersystems.org/" target="ext">Whisper Systems</a></li>
                    <li><a href="https://www.startpage.com" target="ext">Start Page</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 text-xs-right">
                <h6 class="text-uppercase">Connect</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><a rel="nofollow" target="_blank" href="https://za.linkedin.com/in/ryan-steenkamp-370999133" title="LinkedIn"><i class="icon-lg ion-social-linkedin-outline"></i></a>&nbsp;</li>
                    <li class="list-inline-item"><a rel="nofollow" target="_blank" href="https://github.com/Infinitetutts" title="Github"><i class="icon-lg ion-social-github"></i></a>&nbsp;</li>
                    <li class="list-inline-item"><a rel="nofollow" target="_blank" title="GroveLab" href="http://grovelab.co.za"><i class="icon-lg ion-ios-book-outline"></i></a></li>
                </ul>
            </div>
        </div>
        <br>
<!--                  <a href="http://www.bootstrapzero.com" target="ext" class="btn" >Download Resume</a> -->
        <span class="pull-right text-muted small"><a href="http://www.theme.cards/r/whats-new-in-bootstrap-4-theme" target="ext">Website Theme</a></span>
    </div>
</footer>
<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-xs-center">
                <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="center-block img-fluid">
                <p>
                    <br>
                    <button class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
    </div>
</div>

  <script>
    // sandbox disable popups
    if (window.self !== window.top && window.name!="view1") {;
      window.alert = function(){/*disable alert*/};
      window.confirm = function(){/*disable confirm*/};
      window.prompt = function(){/*disable prompt*/};
      window.open = function(){/*disable open*/};
    }
    
    // prevent href=# click jump
    document.addEventListener("DOMContentLoaded", function() {
      var links = document.getElementsByTagName("A");
      for(var i=0; i < links.length; i++) {
        if(links[i].href.indexOf('#')!=-1) {
          links[i].addEventListener("click", function(e) {
          console.debug("prevent href=# click");
              if (this.hash) {
                if (this.hash=="#") {
                  e.preventDefault();
                  return false;
                }
                else {
                  /*
                  var el = document.getElementById(this.hash.replace(/#/, ""));
                  if (el) {
                    el.scrollIntoView(true);
                  }
                  */
                }
              }
              return false;
          })
        }
      }
    }, false);
  </script>

  <!--scripts loaded here-->
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
  
  <script>
  (function($) {
    "use strict";

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 60
    });

    new WOW().init();
    
    $('a.page-scroll').bind('click', function(event) {
        var $ele = $(this);
        $('html, body').stop().animate({
            scrollTop: ($($ele.attr('href')).offset().top - 60)
        }, 1450, 'easeInOutExpo');
        event.preventDefault();
    });
    
    $('#collapsingNavbar li a').click(function() {
        /* always close responsive nav after click */
        $('.navbar-toggler:visible').click();
    });

    $('#galleryModal').on('show.bs.modal', function (e) {
       $('#galleryImage').attr("src",$(e.relatedTarget).data("src"));
    });

})(jQuery);
  </script>
  </body>
